<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app"></div>

<script type="module">

    "use strict"

    import {CatListController} from "../Controller/CatListController.js";


    (async () => {

        const catList = new CatListController();
        const breeds = await catList.findAllBeeds();
        const moixos = await catList.findAllMoixos();


        catList.findAllFavorites();
        //pintraLayout();
        //pintarBreeds(breeds,moixos,catList);
    })();

    function pintraLayout(){
        const ulBreeds = document.createElement("UL");
        ulBreeds.id="breeds";
        const divCats = document.createElement("DIV")
        divCats.id="cats";

        const app = document.querySelector("#app");
        app.appendChild(ulBreeds);
        app.appendChild(divCats);
    }
    function pintarBreeds(breeds,moixos,catList) {

        const ul = document.querySelector("#breeds");
        for (const breed of breeds) {

            const li = document.createElement("LI");
            li.innerHTML = breed.getNom();
            li.addEventListener('click',() =>{

                const moixosFiltrats = moixos.filter(m =>{

                    let trobat = false;
                    m.getRaces()

                    for (const racaMoix of m.getRaces()) {
                        if(racaMoix.getId() === breed.getId()){

                            trobat = true;
                        }
                    }
                    return trobat;
                });
                pintarMoixos(moixosFiltrats,catList)
            })
            ul.appendChild(li);
        }
    }

    function pintarMoixos(moixos,catList) {

        const container = document.querySelector("#cats");
        container.innerHTML = '';
        for (const moix of moixos) {
            const  divMoix = document.createElement("DIV");
            const imgMoix = document.createElement("IMG");
            imgMoix.src = moix.getUrl();
            imgMoix.style.width="100px";
            imgMoix.style.display="flex";

            const vots = document.createElement("P");
            vots.innerHTML = moix.getVots() + " vots";

            //Votacions
            const upVote = document.createElement("BUTTON");
            upVote.innerText="UP";
            upVote.addEventListener('click',function (){
                catList.upVote(moix);
            })
            const downVote = document.createElement("BUTTON");
            downVote.innerText="DOWN";
            downVote.addEventListener('click',function (){
                catList.downVote(moix);
            })

            //Favoritos
            const favoriteVote = document.createElement("BUTTON");
            favoriteVote.innerText="❤";
            favoriteVote.addEventListener('click',function (){
                catList.addFavorite(moix);
            })

            divMoix.appendChild(imgMoix);
            divMoix.appendChild(vots);
            divMoix.appendChild(upVote);
            divMoix.appendChild(downVote);
            divMoix.appendChild(favoriteVote);
            container.appendChild(divMoix);
        }
    }

</script>
</body>
</html>